
.info_btn :hover {
  color: black;
  font-weight: bold;
}
.pagination_container{
	display: flex;
	justify-content: center;
}

li.page-item{
	width: 39px;
}

.status{
  width: 80px;
  height: 35px;
  padding: 3px 8px;
  border-radius: 10px;
}
