/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header */

.main_header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_header_warp {
  width: 1032px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 1032px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu_warp {
  display: flex;
  align-items: center;
}

.projectsearch_item {
  background-color: white;
  border: none;
}

.projectsearch_name {
  font-size: 16px;
  font-weight: 600;
}

.projectupload_name {
  padding-left: 10px;
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.header_mainlogo {
  padding-right: 70px;
}

.header_mainlogo_item {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.header_sub_warp {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_customer_warp {
  display: flex;
}

.header_customer_btn {
  display: flex;
  background-color: white;
  border: none;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}

.header_profile_img {
  padding-left: 20px;
}

.proj_title_wrap {
  width: 1032px;
  margin: 0 auto;
}

.proj_title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.creator_profile {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.creator_profile_img {
  padding-right: 10px;
}

.creator_name {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.proj_content_wrap {
  width: 1032px;
  margin: 0 auto;
}

.content_top {
  display: flex;
  justify-content: space-between;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.represent_img {
  margin-left: 8px;
  margin-right: 8px;
  width: 600px;
  height: 470px;
}

.proj_info {
  display: block;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
  width: 400px;
}

.info_wrap {
  margin: 10px;
  display: block;
  justify-content: space-between;
  width: 390px;
}

.first_area {
  padding: 5px 0px;
  /* margin: 5px 0px; */
  font-size: 15px;
}

.second_area {
  padding: 5px 0px;
  /* margin: 5px 0px; */
  font-size: 25px;
}

.unit {
  font-size: 15px;
}

.pct {
  font-size: 18px;
  font-weight: bold;
}

.pay_info {
  padding: 10px 5px;
  font-size: 15px;
  border: 1px solid rgb(230, 230, 230);
  height: 103px;
}

.pay_info_top {
  font-size: 20px;
  font-weight: bold;
}

.button_area {
  display: flex;
  flex-direction: row-reverse;
}

.funding_btn {
  margin: 0px 0px 0px 10px;
}

.content_mid {
  display: flex;
  justify-content: space-between;
  height: 1600px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.mid_img {
  margin-left: 8px;
  margin-right: 8px;
  width: 600px;
  height: 400px;
}

.mid_imgss {
  width: 600px;
  height: 400px;
}

.imgs_wrap {
  margin-left: 8px;
  margin-right: 8px;
  width: 600px;
}

.creator_info {
  margin: 0px 20px;
}

.mid_creator_profile {
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
}

.mid_creator_top {
  font-weight: bold;
  padding: 5px 0px;
}

.mid_creator_info {
  display: flex;
  padding: 5px 0px;
}

.mid_creator_intro {
  padding: 5px 0px;
  font-size: 14px;
}

.prev_proj_wrap {
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  margin-bottom: 10px;
}

.prev_proj {
  display: flex;
  padding: 10px 0px;
}

.thumbnail_img {
  width: 150px;
  height: 100px;
}

.prev_proj_info_wrap {
  display: block;
  padding: 0px 5px;
}

.prev_proj_title {
  font-weight: bold;
  font-size: 12.5px;
  text-align: left;
}

.prev_proj_summary {
  font-size: 12px;
  text-align: left;
}

.prev_proj_btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}

.content_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 1200px;
}

textarea.content {
  /* border: 1.5px solid skyblue;
  color: darkblue; */
  border: 0px;
  padding: 30px;
  margin: 0px 50px 0px;
  width: 960px;
  overflow: visible;
  font-size: 15px;
}

/* footer */
/*
.main_footer {
  width: 1032px;
  margin: auto;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
}

.footer_first_warp {
  width: 1032px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.footer_nav {
  width: 550px;
  display: flex;
  justify-content: space-around;
}

.nav_item_li:first-child {
  font-weight: 600;
  color: black;
  font-size: 20px;
}

.nav_item_li {
  padding-bottom: 20px;
  color: gray;
  font-size: 16px;
}

.footer_second_warp {
  margin: 0 auto;
  margin-top: 20px;
  width: 1032px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer_info_warp {
  width: 700px;
  font-size: 12px;
}

.info_first_warp,
.info_second_warp {
  margin-bottom: 5px;
}

.info_item1 {
  font-weight: 600;
}

.info_item2,
.last_warp_item {
  color: gray;
}

.footer_info_icon {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.footer_last_info {
  background: rgb(240, 240, 240);
}

.footer_last_info_div {
  width: 1032px;
  margin: 0 auto;
  padding: 10px 5px;
}

.last_info_item {
  font-size: 11px;
  color: gray;
}
*/
