* {
    box-sizing: border-box;
}

.joinlist {
    width: 1200px;
    min-height: 1080px;
    margin: 0 auto;

}

 
 .my-custom-scrollbar {
	position: relative;
	height: 1300px;
	overflow: auto;
	}
	.table-wrapper-scroll-y {
	display: block;
	}

	.proj_wrap {
		display: flex;
		justify-content: right;
		height: 100px;
		margin-top: 30px;
		margin-bottom: 10px;
	  }
	  
	  .represent_img {
		margin: 0px 10px;
	  }
	  
	  .thumbnail_img {
		width: 150px;
		height: 100px;
		margin: 0px 10px;
	  }
	  .proj_title {
  font-weight: bold;
  font-size: 25px;
  padding: 5px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

