
  /*[마이프로젝트]-------------------------------*/

.status{
	width: 50px;
	height: 35px;
	padding: 3px 8px;
	border-radius: 10px;
}

.pagination_container{
	display: flex;
	justify-content: center;
}

li.page-item{
	width: 39px;
}