/*[마이페이지]*/
.mypage {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 1032px;
    margin: 0px 32px 0px 0px;
    padding: 24px;
}

.mypage_left {
    width: 600px;
    margin: 0px 20px 0px 0px;
}

.mypage_modify {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 0px 0px 20px 0px;
}

.mypage_title_container {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 16px 0px;
}

.mypage_title {
    font-size: 18px;
    font-weight: 600;
}

.mypage_profile_img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0px 5px 5px 0px;
}

.mypage_profile_container {
    display: flex;
    align-items: center;
}

.mypage_desc {
    margin: 8px 0px 0px;
    color: rgb(109, 109, 109);
    font-size: 12px;
}

.mypage_change_btn {
    background: transparent;
    border: 0px;
    cursor: pointer;
    color: rgb(39, 163, 255);
}

.mypage_change_btn:hover {
    text-decoration: underline;
}

.mypage_save_btn {
    border: 0px;
    cursor: pointer;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    margin: 15px 0px 15px;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}

.mypage_save_btn:hover {
    color: gray;
}

.mypage_input {
    width: 60%;
    height: 35px;
    margin-bottom :5px;
}
.mypage_input_email {
    width: 35%;
    height: 35px;
    margin-left: 5px;
}
#email2{
    display: none;
}
div#message2, div#message3 {
    font-size: 13px;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #FF0000;
    margin-bottom: 5px;
}

.mypage_input_box {
    display: none;
}

.mypage_right {
    width: 315px;
    margin: 0px;
    padding: 20px 24px;
    border: 1px solid rgb(230, 230, 230);
}
.mypage_creator_top {
    font-weight: bold;
    padding: 5px 0px;
}
.mypage_creator_info {
    display: flex;
    padding: 5px 0px;
}
.mypage_creator_intro {
    padding: 5px 0px;
    font-size: 13px;
}


.email_container{
    display: flex;
    align-items: center;
}