/*------------------ regist.css ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details,
figcaption, figure, footer,
header, hgroup, menu,
nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-btn {
    width: 1032px;
    height: 75px;
    margin: 35px auto 0 auto;
}

.main-btn_inner {
    display: flex;
    justify-content: space-evenly;
}

.btn-head1, .btn-head2, .btn-head3 {
    text-decoration: none;
    background-color: white;
    width: 120px;
    height: 50px;
    font-size: 13px;
    font-weight: 700;
    color: black;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
}

.main_section_btn {
    box-shadow: 0 4px 4px -4px #c7c7c7;
}

.main_section {
    margin: 60px auto 20px auto;
    width: 1032px;
}

.projectItem {
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.projectItem_title {
    display: block;
    margin: 0px 0px 12px;
    width: 351px;
}

.projectItem_title_dt {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.projectItem_title_dd {
    font-size: 13px;
    line-height: 24px;
    height: 48px;
    text-decoration: none solid rgb(109, 109, 109);
    color: #6D6D6D
}

.projectItem_title_form {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

.projectItem_bank_form {
    display: block;
    flex-direction: column;
    align-content: space-between;
    width: 630px;
}

.projectItem_image_form {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 630px;
}

.projectItem_title_formInner {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}

.projectItem_image_formInner {
    width: 100%;
}

/*---------------- tooltip -----------------------*/
div.projectItem_category_tooltip {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

div.tooltip_category_label {
    height: 98px;
    width: 307px;
    margin: 0 8px 0 0;
    display: block;
}

p.tooltip_category_p {
    margin-top: 0em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
    color: black;
    display: flex;
}

div.select_down {
    display: inline-flex;
    align-self: center;
}

span.category_span {
    background: rgb(255, 255, 255);
    color: rgb(13, 13, 13);
    display: flex;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    max-height: 44px;
    min-width: 100px;
    letter-spacing: -0.015em;
}

span.category_span > select {
    padding: 8px 12px;
}

.projectItem_title_tooltip {
    margin-bottom: 10px;
}

.projectItem_image_tooltip {
    margin-bottom: 10px;
}

.tooltip_label {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: rgb(61, 61, 61);
    margin: 0 0 10px 0;
}

.LabelWithArea {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    font-size: 16px;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.LabelWithArea em {
    display: flex;
    padding: 2px;
}

div.Icon {
    display: inline-flex;
    align-self: center;
}

div.Icon > svg {
    color: #F86453;
    width: 13px;
    height: 13px;
}

.Icon_svg {
    display: inline-flex;
    align-self: center;
}

.LabelWithTooltip {
    width: 100%;
    height: 157px;
    min-height: auto;
    min-width: auto;
    padding: 16px 46px 16px 26px;
    position: relative;
    margin: 10px 0px 0px;
    border: 1px solid #F0F0F0;
    box-shadow: rgba(0 0 0 0.05) 0px 2px 8px, rgba(0 0 0 0.1) 0px 1px 0px 0px;
    border-radius: 4px;
    opacity: 1;
}

div.LabelWithTooltip2 {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0 0 0 0.05) 0px 2px 8px, rgba(0 0 0 0.1) 0px 1px 0px 0px;
    border-radius: 4px;
    padding: 16px 46px 16px 26px;
    position: relative;
    margin: 10px 0px 0px;
    border: 1px solid rgb(240, 240, 240);
    transition: all 0.5s ease 0s;
    height: auto;
    transform: translateY(0px);
    opacity: 1;
    color: black;
    font-size: 14px;
    font-weight: 500;
    display: none;
}

.LabelWithTooltipImg {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0 0 0 0.05) 0px 2px 8px, rgba(0 0 0 0.1) 0px 1px 0px;
    border-radius: 4px;
    padding: 16px 46px 16px 26px;
    position: relative;
    margin: 10px 0px 0px;
    border: 1px solid rgb(240, 240, 240);
    transition: all 0.5s ease 0s;
    height: auto;
    transform: translateY(0px);
    opacity: 1;
}

.LabelWithTooltip_title {
    display: flex;
    height: 123px;
    width: 556px;
    text-decoration: none solid rgb(61, 61, 61);
    word-spacing: 0px;
}

.LabelWithTooltip_image {
    display: flex;
    /*text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);*/
}

.title {
    width: 212px;
    flex-shrink: 0;
    font-weight: 700 !important;
    margin: 0 0 16px 0;
}

.image {
    display: inline;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.close {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    font-size: 7px;
    position: absolute;
    cursor: pointer;
}

.close-1 {
    display: inline-flex;
    align-self: center;
}

/*---------------- tooltip -----------------------*/
.projectItem_input, .projectItem_input4, .projectItem_input5 {
    height: 45px;
    width: 630px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    padding: 0 18px;
    margin-top: 10px;
}

.projectItem_input2, .projectItem_input3 {
    height: 79px;
    width: 630px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    padding: 0 18px;
}

.input_wrapper {
    flex: 1 1 0%;
    border: 0px;
    text-align: left;
    padding: 0px;
    background: transparent;
}

.input_wrapper2, .input_wrapper3 {
    width: 100%;
    height: auto;
    border: 0px;
    padding: 11px 0px;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px !important;
}

.inputInner, .inputInner2, .inputInner3 {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0px;
    padding: 11px 0px;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    text-align: inherit;
    font-weight: 400;
    appearance: none !important;
    font-size: 14px !important;
}

.textAreaInner, .textAreaInner2 {
    outline: none;
    background: transparent;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    resize: none;
    overflow: auto;
    margin: 0;
    cursor: text;
    white-space: pre-wrap;
    box-sizing: border-box;
    word-wrap: break-word;
}

.blankBlock {
    height: 20px;
    width: 630px;
    margin: 8px 0 0 0;
    display: flex;
}

.InputLengthCheck {
    margin-top: 0em;
}

.InputLengthCheck_Notice {
    margin-left: auto;
    color: rgb(158, 158, 158);
}

/* 이미지 업로드 */
.projectItem_ImageUploader {
    width: 100%;
    min-height: 320px;
    padding: 37px 35px;
    background: rgb(255, 255, 255);
    border: 1px dashed rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    transition: border 0.4s ease 0s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ImageUploader {
    display: flex;
    flex-wrap: wrap;
    height: 276px;
    width: 221px;
    padding: 43px 0px;
    min-height: auto;
    min-width: auto;
    transform: none;
    box-sizing: border-box;
}

.ImageUploader_inner {
    height: 190px;
    width: 221px;
    min-height: auto;
    min-width: auto;
    display: block;
    transform: none;
    box-sizing: border-box;
}

.ImageUploader > input {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}

.ImageUploader_Icon {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 54px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    margin: 0px auto 20px;
    background: rgb(252, 252, 252);
    box-sizing: border-box;
    box-shadow: rgba(0 0 0 0.15) 0px 0.8px 0px;
    border-radius: 1px;
}

.ImageUploader_span {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    width: 130px;
    height: 36px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    margin: 0px auto 20px;
}

.ImageUploader_inner > p {
    width: 100%;
    font-weight: 400;
    color: rgb(158, 158, 158);
    text-align: center;
    margin: 0px 0px 10px;
    font-size: 13px !important;
    line-height: 22px !important;
}


/*------------------ public.css ------------------ */
* {
    font-family: 'Malgun Gothic';
}

/* header 부분 */
.main_header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_header_warp {
    width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login\&signup_name > a {
    text-decoration: none;
    color: black;
}

/*    nav {
        width: 1032px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }*/

.header_menu_warp {
    display: flex;
    align-items: center;
}

.projectsearch_item {
    background-color: white;
    border: none;
}

.projectsearch_name {
    font-size: 16px;
    font-weight: 600;
}

.projectupload_name {
    padding-left: 10px;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.header_mainlogo {
    padding-right: 70px;
}

.header_mainlogo_item {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.header_sub_warp {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_customer_warp {
    display: flex;
}

.header_customer_btn {
    display: flex;
    background-color: white;
    border: none;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.header_profile_img {
    width: 38px;
    height: 38px;
    border-radius: 70%;
    background: #f7f7f7;
    overflow: hidden;
    margin-left: 5px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer 부분 */
footer.footer_save {
    width: 1032px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 65px;
}

footer.footer_save > div {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: end;
}

footer.footer_save > div > button.footer_save_btn {
    width: 102px;
    height: 40px;
    font-weight: 700;
    background: rgb(248, 100, 83);
    font-size: 12px !important;
    color: white;
    border-radius: 4px;
    border: none;
    font-family: "Malgun Gothic";
}

/*------------ creatorInfo.html 에 적용되는 css ------------*/
.projectItem_profile {
    display: flex;
    align-items: center;
}

.projectItem_profile_circle {
    margin-right: 32px;
    display: flex;
    width: 112px;
    height: 112px;
    flex: 0 0 auto;
    font-size: 52px;
    letter-spacing: -3.12px;
    position: relative;
}

.profile_circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: rgb(208 208 208) 0px 0px 1px 0px inset,
    rgb(208 208 208) 0px 0px 1px 0px
}

.profile_circle_inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(208 208 208) 0px 0px 1px 0px inset, rgb(208 208 208) 0px 0px 1px 0px;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(208, 208, 208);
    font-weight: bold;
}

.projectItem_profile_upload {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(158, 158, 158);
}

.projectItem_profile_upload > div {
    display: block;

}

button.profile_upload {
    font-size: 12px;
    line-height: 20px;
    color: rgb(61, 61, 61);
    margin-bottom: 14px;
    border: 1px solid rgb(240, 240, 240);
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 36px;
    white-space: nowrap;
    border-radius: 4px;
    outline: 0px;
    box-sizing: border-box;
    font-weight: normal;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    position: relative;
}

button.profile_upload > input[type=file] {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}

div.profileUploadIcon {
    display: inline-flex;
    align-self: center;
}

div.profileUploadIcon > svg {
    fill: rgb(248, 100, 83);
    margin-right: 9px;
}

/*------------ funding.html 에 적용되는 css ------------*/
div.projectItem_ProjectNotice {
    margin-top: 25px;
    background: rgb(253, 244, 243);
    border-radius: 8px;
    padding: 23px 24px 22px;
    font-weight: 400;
    color: rgb(109, 109, 109);
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

div.NoticeTitle {
    color: rgb(248, 100, 83);
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

div.NoticeTitle > div {
    display: inline-flex;
    align-self: center;
}

div.NoticeTitle > div > svg {
    position: relative;
    height: 12px;
    width: 12px;
    top: 1px;
    margin-right: 6px;
    fill: rgb(248, 100, 83);
    font-size: 12px;
}

div.projectItem_ProjectNotice > div > p {
    padding-left: 14px;
    margin-bottom: 5px;
    position: relative;
}

div.projectItem_ProjectNotice > div > p:before {
    content: "*";
    position: absolute;
    top: 2px;
    left: 3px;
}

div.projectGoalFunding {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    padding: 32px 24px 24px;
    width: 100%;
}

/*    div.projectGoalFunding > div.InputWithGoal {
        box-sizing: inherit;
    }*/

div.projectGoalFunding > p {
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
    color: rgb(61, 61, 61);
    display: flex;
}

div.InputWithGoal > div.InputWithGoal_Check {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding: 0px 18px;
    border: 1px solid rgb(240, 240, 240);
}

div.InputWithGoal_Check > span.InputWithGoal_InputWrapper {
    flex: 1 1 0%;
    border: 0px;
    text-align: right;
    padding: 0px;
    background: transparent;
    max-height: 44px;
    min-width: 100px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

span.InputWithGoal_InputWrapper {
    flex: 1 1 0%;
    color: rgb(13, 13, 13);
    border: 0px;
    text-align: right;
    padding: 0px;
    background: transparent;
    max-height: 44px;
    min-width: 100px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    align-items: center;
    border-radius: 4px;
}

span.InputWithGoal_InputWrapper > input {
    text-align: inherit;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;

    width: 100%;
    background: transparent;
    border: 0px;
    padding: 11px 0px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    margin: 0px;
    appearance: none !important;
}

div.InputWithGoal > div.InputWithGoal_Notice {
    box-sizing: inherit;
    background: rgb(252, 252, 252);
    border-radius: 4px;
    padding: 25px 22px 15px;
    margin-top: 8px;
}

div.InputWithGoal_Notice > div.totalAmount {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: initial;
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 16px;
    margin-bottom: 11px;
}

div.totalAmount > span {
    padding-top: 5px;
    font-weight: 550;
}

div.totalAmount > em {
    font-style: normal;
    color: rgb(248, 100, 83);
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    font-weight: bold;
    display: inline;
}


.feewrap1 .feewrap2, .feewrap3 > em {
    display: inline;
    font-style: normal;
    color: rgb(61, 61, 61);
    box-sizing: inherit;
}

div.feewrap1, div.feewrap2, div.feewrap3 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

div.feewrap1 {
    margin-bottom: 3px;
    color: rgb(158, 158, 158);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

div.feewrap2, div.feewrap3 {
    color: rgb(158, 158, 158);
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    margin-bottom: 3px;
}

div.projectItem_date {
    width: 100%;
}

div.projectItem_date > ol.projectItem_date_ol {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li.FundingPlan1, li.FundingPlan2, li.FundingPlan3 {
    position: relative;
    list-style: none;
    padding: 0px 0px 38px 18px;
    color: rgb(158, 158, 158);
    box-sizing: inherit;
}

li.FundingPlan1::before, li.FundingPlan2::before, li.FundingPlan3::before {
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 1;
    content: "";
    border: 3px solid rgb(0, 0, 0);
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
}

li.FundingPlan1::after, li.FundingPlan2::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 100%;
    border-left: 1px solid rgb(228, 228, 228);
}

div.FundingPlan1_div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

div.FundingPlan1_div p {
    margin-bottom: 4px;
    margin-top: 0em;
    font-weight: 500;
    color: rgb(13, 13, 13);
    display: flex;
    font-size: 12px !important;
    line-height: 20px !important;
}

div.FindPlan1_startDate {
    margin: 0 8px 0 0;
    width: 50%;
}

div.FindPlan1_endDate {
    margin-right: 0px;
    width: 50%;
}

div.FindPlan1_endDate > button {
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 16px;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    cursor: pointer;
    overflow: visible;
}

div.FindPlan1_endDate > button > em > div.question_line {
    margin-bottom: 4px;
    margin-left: 4px;
    display: inline-flex;
    align-self: center;
}

div.FindPlan1_endDate > button > em > div.question_line > svg {
    fill: rgb(255, 87, 87);
}

div.Datepickers {
    display: block;
}

div.Datepickers > div.Datepickers_inner {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0 14px;
    border: 1px solid rgb(240, 240, 240);
}

div.Datepickers_inner > button {
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    border: none;
}

div.Datepickers_inner > button > div.calendar-dot {
    display: inline-flex;
    align-self: center;
    width: 100%;
    height: 100%;
}

div.Datepickers_inner > button > div.calendar-dot > svg {
    margin: 12px 9px 0 0;
    width: 1em;
    height: 1em;
}

div.Datepickers_inner > button > div.calendar-dot > input {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 450;
}

div.FundingTerm {
    padding-top: 46px;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

div.FundingTerm > p {
    margin-bottom: 4px;
    font-weight: 500;
    color: rgb(13, 13, 13);
    display: flex;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}



li.FundingPlan2 > div.FundingPlan_end {
    margin-bottom: 10px;
}

div.FundingPlan_end > div.FundingPlan_end_inner {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: rgb(61, 61, 61);
    margin: 0px 0px 10px;
}

div.FundingPlan_end > div.FundingPlan_end_inner > button.FundingPlan_end_btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    font-size: 16px;
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

button.FundingPlan_end_btn > p {
    font-weight: 500;
    margin: 0px;
    font-size: 12px !important;
    line-height: 20px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

button.FundingPlan_end_btn > em {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 0 0 2px;
    padding: 2px;
    border: 0;
    background: transparent;
    border-radius: 2px;
    outline: none;
    font-size: 16px;
}

button.FundingPlan_end_btn > em > div {
    display: inline-flex;
    align-self: center;
}

button.FundingPlan_end_btn > em > div > svg {
    fill: rgb(255, 87, 87);
}


