<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkfd.dto.MemberMapper">
    <insert id="insert" parameterType="member">
        INSERT INTO KK_MEMBER(MEM_ID, MEM_PWD, MEM_NAME, MEM_PHONE, MEM_EMAIL)
        VALUES (#{memId}, #{memPwd}, #{memName}, #{memPhone}, #{memEmail})
    </insert>

    <select id="selectById" parameterType="string" resultType="member">
        SELECT * FROM KK_MEMBER WHERE MEM_ID=#{id}
    </select>
    
 <update id="update" parameterType="member">
 UPDATE kk_member
   <set>
     <if test="memPwd != null">mem_pwd=#{memPwd},</if>
     <if test="memName != null">mem_name=#{memName},</if>
     <if test="memPhone != null">mem_phone=#{memPhone},</if>
     <if test="memEmail != null">mem_email=#{memEmail}</if>
   </set>
 where mem_id=#{memId}
 </update>    
</mapper>