<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkfd.dto.ProjectMainMapper">
<select id="selectMain" resultType="main">
SELECT 1 AS proj_area, r.*
FROM (SELECT p.proj_no,p.proj_category, p.proj_title, p.proj_goals, proj_start, proj_end,
            NVL2(b.book_no,1,0) AS bm
        FROM kk_project p
           LEFT OUTER JOIN kk_bookmark b 
           ON (p.proj_no=b.book_proj AND b.book_id=#{id})
        WHERE p.proj_status=1 AND  SYSDATE <![CDATA[<]]> p.proj_end
        ORDER BY p.proj_bmcnt DESC
    ) r
WHERE ROWNUM BETWEEN 1 AND 8
UNION
SELECT 2 AS c, r.*
FROM (SELECT p.proj_no,p.proj_category, p.proj_title, p.proj_goals, proj_start, proj_end,
            NVL2(b.book_no,1,0) AS bm
        FROM kk_project p
           LEFT OUTER JOIN kk_bookmark b 
           ON (p.proj_no=b.book_proj AND b.book_id=#{id})
        WHERE p.proj_status=1 AND p.proj_start <![CDATA[<]]> SYSDATE 
        ORDER BY  p.proj_start DESC
    ) r
WHERE ROWNUM BETWEEN 1 AND 8
UNION
SELECT 3 AS c, r.*
FROM (SELECT p.proj_no,p.proj_category, p.proj_title, p.proj_goals, proj_start, proj_end,
            NVL2(b.book_no,1,0) AS bm
        FROM kk_project p
           LEFT OUTER JOIN kk_bookmark b 
           ON (p.proj_no=b.book_proj AND b.book_id=#{id})
        WHERE p.proj_status=1 AND SYSDATE <![CDATA[<]]> p.proj_start
        ORDER BY p.proj_no DESC
    ) r
WHERE ROWNUM BETWEEN 1 AND 8
UNION
SELECT 4 AS c, r.*
FROM (SELECT p.proj_no,p.proj_category, p.proj_title, p.proj_goals, proj_start, proj_end,
            NVL2(b.book_no,1,0) AS bm
        FROM kk_project p
           LEFT OUTER JOIN kk_bookmark b 
           ON (p.proj_no=b.book_proj AND b.book_id=#{id})
        WHERE p.proj_status=1 
        AND ( p.proj_goals BETWEEN 75 AND 100)
        AND SYSDATE <![CDATA[<]]> p.proj_end
        ORDER BY p.proj_end ASC
    ) r
WHERE ROWNUM BETWEEN 1 AND 8
</select>
</mapper>
